h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: regular;
    font-size: 20px;
    flex: 1;
    padding: 10px;
    text-align: center;
}

label,select {
    font-family: 'Raleway', sans-serif;
    font-weight: regular;
    font-size: 13px;
}


input{
    font-family: 'Raleway', sans-serif;
    font-weight: regular;
    font-size: 13px;
}

.modal-header {
    background: linear-gradient(#0274BE, #0274BE, #0274BE, );
}

.modal-body {
    background-color: #0692e311;
    margin: 28px;
}

.btn-light {
    background-color: #0274BE;
    border: 1px solid #0274BE;
}

.btn-light:hover {
    background-color: #0273be9f;
}

.btn-primary {
    background-color: #0274BE;
    border: 1px solid #0274BE;
    color: white;
    height: 35px;
    width: 90px;
    font-family: 'Raleway', sans-serif;
    font-weight: regular;
    font-size: 13px;
}

.btn-primary:hover {
    background-color: #0273be4b;
    border: 1px solid #0273be4b;
    color: black;
    height: 35px;
    width: 90px;
    font-family: 'Raleway', sans-serif;
    font-weight: regular;
    font-size: 13px;
}

.btn-light {
    background-color: #0274BE;
    border: 1px solid #0274BE;
    color: white;
}

.btn-light:hover {
    background-color: #0273be4a;
    color: black;
}