<div class="sidebar">
    <div class="logo">
      <img src="assets/logo_istla.png" alt="Instituto Superior de los Andes" class="img-fluid">
    </div>
    <div class="sidebar-item">
      <a routerLink="/laboratorios" routerLinkActive="active">LABORATORIOS</a>
      <div class="sidebar-subitem">
        <a routerLink="/laboratorios/modulo" routerLinkActive="active">MÓDULO</a>
      </div>
      <div class="sidebar-subitem">
        <a routerLink="/laboratorios/inventario" routerLinkActive="active">INVENTARIO</a>
      </div>
      <div class="sidebar-subitem">
        <a routerLink="/laboratorios/revision" routerLinkActive="active">REVISIÓN</a>
      </div>
    </div>
    <div class="sidebar-item">
      <a routerLink="/reservas" routerLinkActive="active">RESERVAS</a>
    </div>
    <div class="sidebar-item">
      <a routerLink="/asistencias" routerLinkActive="active">ASISTENCIA</a>
    </div>
    <div class="sidebar-item">
      <a routerLink="/reportes" routerLinkActive="active">REPORTES</a>
    </div>
    <div class="sidebar-item">
      <a routerLink="/programas-academicos" routerLinkActive="active">PROGRAMAS ACADÉMICOS</a>
    </div>
    <div class="sidebar-item">
      <a routerLink="/usuarios" routerLinkActive="active">USUARIOS</a>
    </div>
  </div>
  