<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div>
  <div class="sidebar">
    <div class="logo d-flex align-items-center">
      <img src="assets/logo_istla.png" alt="Instituto Superior de los Andes" class="img-fluid">
      <div class="ms-3">
        <h5>Instituto Superior Tecnológico "Los Andes" ISTLA</h5>
      </div>
    </div>
    <hr>
    <div class="sidebar-item">
      <div class="w3-dropdown-hover">
        <button class="w3-button" routerLink="/laboratorios" routerLinkActive="active"> <i class="bi bi-pc-display"></i> LABORATORIOS
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="w3-dropdown-content ">
          <a routerLink="/laboratorios/modulo" routerLinkActive="active"><i class="bi bi-pc-display-horizontal"></i> MÓDULO</a>
          <a routerLink="/laboratorios/inventario" routerLinkActive="active"><i class="bi bi-folder2"></i> INVENTARIO</a>
          <a routerLink="/laboratorios/revision" routerLinkActive="active"> <i class="bi bi-wrench-adjustable"></i> REVISIÓN</a>
        </div>
      </div>
    </div>
    <div class="sidebar-item">
      <a routerLink="/reservas" routerLinkActive="active"> <i class="bi bi-calendar-date-fill"></i> RESERVAS</a>
    </div>
    <div class="sidebar-item">
      <a routerLink="/asistencias" routerLinkActive="active"><i class="bi bi-card-checklist"></i> ASISTENCIA</a>
    </div>
    <div class="sidebar-item">
      <a routerLink="/reportes" routerLinkActive="active"><i class="bi bi-file-earmark-pdf"></i> REPORTES</a>
    </div>
    <div class="sidebar-item">
      <a routerLink="/gestion/carreras" routerLinkActive="active"><i class="bi bi-journals"></i> PROGRAMAS ACADÉMICOS</a>
    </div>
    <div class="sidebar-item">
      <a routerLink="/usuarios" routerLinkActive="active"> <i class="bi bi-people-fill"></i> USUARIOS</a>
    </div>
  </div>