.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #0274BE;
  color: white;
  padding-top: 20px;
  z-index: 1000;
}

.logo {
  text-align: center;
  padding-left: 10px;
}

.logo img {
  max-height: 80px;
}

h5 {
  color: white;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
}

hr {
  opacity: 50;
  height: 14px;
  width: 100%;
  color: white;
}

.sidebar-item {
  margin: 10px 0;
  padding-left: 10px;
  position: relative;
  transition: background-color 0.3s, color 0.3s;
}

.sidebar a {
  color: white;
  text-decoration: none;
  display: block;
  font-size: 14px;
  padding: 10px;
  transition: background-color 0.3s, color 0.3s;
}

.sidebar-item:hover,
.sidebar-item.selected {
  background-color: rgb(191, 232, 255);
  color: black;
}

.sidebar-item:hover a,
.sidebar-item.selected a {
  color: black;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  background-color: rgb(191, 232, 255);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1100;
  min-width: 200px;
}

.dropdown-content a {
  color: black !important;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  white-space: nowrap;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media (max-width: 768px) {
  .sidebar {
    height: auto;
    width: 100%;
    color: black;
  }
}


.logout-item {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

.logout-button {
  background-color: rgb(138, 23, 23);
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  
  cursor: pointer;
  border-radius: 4px;
  width: 100%; /* Ajustar el ancho para centrado */
  transition: background-color 0.3s, color 0.3s;
}

.logout-button:hover {
  background-color: darkred;
}