<div class="modal-header">
  <h4 class="modal-title">Editar Usuario</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <form [formGroup]="usuarioForm" (ngSubmit)="save()">
    <div class="row">
      <div class="col-md-6">
        <div class="mb-3">
          <label for="nombres" class="form-label">Nombres</label>
          <input id="nombres" type="text" class="form-control" formControlName="nombres">
        </div>
        <div class="mb-3">
          <label for="apellidos" class="form-label">Apellidos</label>
          <input id="apellidos" type="text" class="form-control" formControlName="apellidos">
        </div>
        <div class="mb-3">
          <label for="cedula" class="form-label">N° Identificación</label>
          <input id="cedula" type="text" class="form-control" formControlName="cedula">
        </div>
        <div class="mb-3">
          <label for="fecha_nacimiento" class="form-label">Fecha de Nacimiento</label>
          <input id="fecha_nacimiento" type="date" class="form-control" formControlName="fecha_nacimiento">
        </div>
        <div class="mb-3">
          <label for="genero" class="form-label">Género</label>
          <select id="genero" class="form-select" formControlName="genero">
            <option value="Masculino">Masculino</option>
            <option value="Femenino">Femenino</option>
            <option value="No Especificado">No especificado</option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-3">
          <label for="correo" class="form-label">Correo</label>
          <input id="correo" type="email" class="form-control" formControlName="correo">
        </div>
        <div class="mb-3">
          <label for="celular" class="form-label">Celular</label>
          <input id="celular" type="text" class="form-control" formControlName="celular">
        </div>
        <div class="mb-3">
          <label for="estado" class="form-label">Estado</label>
          <select id="estado" class="form-select" formControlName="estado">
            <option value="activo">Activo</option>
            <option value="inactivo">Inactivo</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="rol" class="form-label">Rol</label>
          <select id="rol" class="form-select" formControlName="rol">
            <option *ngFor="let role of roles" [value]="role.id_rol">
              {{ role.nombre_rol }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary w-100">Guardar</button>
  </form>
</div>
