:host {
  display: block;
  /*padding-top: 80px; /* height of navbar */
}

.login-wrapper {
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0692e31e;
}

.login-box {
  display: flex !important;
  flex-direction: row;
  background-color: #ffffff;
  border-radius: 10px;
  height: 85vh;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.login-logo {
  padding: 20px;
  background-color: #0274BE;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 400px;
  text-align: center;
  color: #ffffff !important;
}

hr {
  opacity: 50;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 33px;
}


.hr {
  opacity: 50;
  color: #0274BE;
}

.login-logo img {
  width: 190px;
  height: auto;
}

.login-form {
  padding: 95px;
  background-color: #0692e311;
}

.login-form h2 {
  margin-bottom: 0px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 29px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  display: block;
  margin-bottom: 5px;
  color: #333333;
}

.form-group a {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  display: block;

}

.form-control {
  width: 100%;
  padding: 3px;
  border: 1px solid #0273be37;
  border-radius: 5px;
  background-color: #0273be37;
}

.form-check-input {
  margin-top: 1px;
}

.form-check-label {
  margin-left: 5px;
  color: #333333;
}

.btn-primary {
  background-color: #0692e3c2;
  padding: 10px 20px;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  border-color: #0692e3c2;
  width: 140px;
  height: 38px;
  margin-left: 35px;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  color: #fff;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.btn-primary:hover {
  background-color: #0274BE;
}