.modal-header {
  background-color: #0274BE;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-title {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 18px;
}

/* .btn-close {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
} */

.modal-body {
  padding: 20px;
}

.form-label {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}

.form-control {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ced4da;
}

.btn-primary {
  background-color: #0274BE;
  border-color: #0274BE;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 15px;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

/* Estilo específico para el botón de cerrar en la esquina superior derecha */
/* .btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  line-height: 1;
  color: white;
  cursor: pointer;
} */

.btn-close:hover {
  color: #ff0000;
}


.form-check-input {
  margin-left: 5px;
  border: 1px solid rgb(105, 105, 105);
}

.form-select {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ced4da;
  width: 100%;
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho */
  appearance: none; /* Elimina el estilo por defecto del select */
}

.form-select option {
  white-space: nowrap; /* Evita que el texto se corte */
  overflow: hidden;
  text-overflow: ellipsis; /* Añade puntos suspensivos si el texto es muy largo */
}

.form-control:focus, .form-select:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}