<div>
  <div class="container mt-3">
    <h2 class="text-center">Módulo Laboratorios</h2>
    <div class="d-flex align-items-center">
      <button class="btn btn-success" (click)="openCreateModal()">Crear</button>
    </div>
    <section class="tabla">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nombre de laboratorio</th>
            <th>Ubicación</th>
            <th>Capacidad</th>
            <th>Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let laboratorio of laboratorios">
            <td>{{ laboratorio.nombre_laboratorio }}</td>
            <td>{{ laboratorio.ubicacion }}</td>
            <td>{{ laboratorio.capacidad }}</td>
            <td>
              <button type="button" class="btn btn-primary" (click)="openEditModal(laboratorio)"><i
                  class="bi bi-pencil-square"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>
</div>
