
  <!-- <h2 class="text-center">CURSOS</h2> Aquí se muestra el nombre de la carrera -->
  <p class="text-left"> <b>CARRERA: </b>{{ nombreCarrera }}</p> <!-- Aquí se muestra el nombre de la carrera -->
  <div class="form-group">
    <label for="periodo">Seleccionar Periodo Académico:</label>
    <select id="periodo" class="form-control" [(ngModel)]="selectedPeriodo" (change)="getCursosByPeriodo()">
      <option *ngFor="let periodo of periodos" [value]="periodo.id_periodo">{{ periodo.nombre_periodo }}</option>
    </select>
  </div>
  <div class="row mt-3">
    <div class="col-md-4" *ngFor="let curso of cursos">
      <div class="card mb-3" (click)="goToMaterias(curso.id_curso)">
        <div class="card-body">
          <h5 class="card-title">{{ curso.nombre_curso }} - {{ curso.paralelo }}</h5>
        </div>
      </div>
    </div>
  </div>

