<div class="forgot-password-wrapper">
    <div class="forgot-password-box">

      <div class="forgot-password-form">
        <h2>Recuperar contraseña</h2>
        <hr class="hr"> <br>
        <form (ngSubmit)="onSubmit()" class="form">
          <div class="form-group">
            <label for="email">Ingrese su correo electrónico para recuperar su contraseña</label>
            <input type="email" class="form-control" id="email" [(ngModel)]="email" name="email" placeholder="Correo electrónico" required>
          </div>
          <button type="submit" class="btn btn-primary btn-block">Enviar</button>
          <button type="button" class="btn btn-secondary btn-block" (click)="goBack()">Regresar</button>
        </form>
      </div>
    </div>
  </div>
  