h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: regular;
    font-size: 40px;
    flex: 1;
    padding: 40px;
    text-align: center;
}

/*TABLA*/
.tabla {
    margin: 80px;
}

.table {
    margin: 20px;
}

th {
    font-family: 'Raleway', sans-serif;

}

td {
    font-family: 'Raleway', sans-serif;

}

button {
    font-family: 'Raleway', sans-serif;
}

.btn-primary {
    background-color: #39D56E;
    border: 1px solid #39D56E;
    color: white;
    height: 35px;
    width: 40px;
}

.btn-success {
    background-color: #39D56E;
    border: 1px solid #39D56E;
    margin-left: 11%;
    color: white;
    height: 50px;
    width: 75px;
    font-family: 'Raleway', sans-serif;
    font-weight: regular;
    font-size: 13px;
}

.btn-success:hover {
    background-color: #39d56d4d;
    border: 1px solid #39d56d4d;
    color: black;
    height: 50px;
    width: 75px;
    font-family: 'Raleway', sans-serif;
    font-weight: regular;
    font-size: 13px;
}

.form-select {
    font-family: 'Raleway', sans-serif;
    font-weight: regular;
    margin-left: 100px;
    font-size: 13px;
    width: 20%;
    height: 35px;
    border: 1px solid #39D56E;
}