<div class="container mt-3">
  <h2 class="text-center">Gestión de Usuarios</h2>
  <div class="d-flex align-items-center mb-3">
    <select class="form-select" [(ngModel)]="selectedRole" (change)="filterUsersByRole()">
      <option value="" disabled selected>Seleccione un Rol</option>
      <option value="1">Administrador</option>
      <option value="2">Laboratorista</option>
      <option value="3">Docente</option>
      <option value="4">Estudiante</option>
    </select>
    <button class="btn btn-success ms-3" (click)="openCreateModal()" *ngIf="selectedRole === '2'">Crear Usuario</button>
  </div>
  <section class="tabla" *ngIf="filteredUsuarios.length > 0">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Correo</th>
          <th>Rol</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of filteredUsuarios">
          <td>{{ usuario.Detalle_Usuario.nombres }} {{ usuario.Detalle_Usuario.apellidos }}</td>
          <td>{{ usuario.Detalle_Usuario.correo }}</td>
          <td>{{ usuario.Roles.nombre_rol }}</td>
          <td>
            <button type="button" class="btn btn-primary" (click)="openEditModal(usuario)"><i class="bi bi-pencil-square"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
  <div *ngIf="filteredUsuarios.length === 0 && selectedRole">
    <p class="text-center">No hay usuarios disponibles para el rol seleccionado.</p>
  </div>
</div>
