.navbar-nav .nav-link.active {
    font-weight: bold;
    color: #007bff !important;
  }
  
  :host {
    display: block;
    padding-top: 80px; /* height of navbar */
  }
  
  main {
    margin-left: 300px; /* width of sidebar */
    padding: 20px;
  }
  