<div class="modal-header">
  <h4 class="modal-title">
    <i class="bi bi-pc-display"></i> {{ laboratorio ? 'Editar Laboratorio' : 'Crear Laboratorio' }}
  </h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>

<div class="modal-body">
  <form [formGroup]="laboratorioForm" (ngSubmit)="save()">
    <div class="form-group">
      <label for="nombre_laboratorio">Nombre de laboratorio</label>
      <input id="nombre_laboratorio" type="text" class="form-control" formControlName="nombre_laboratorio">
    </div>
    <div class="form-group">
      <label for="ubicacion">Ubicación</label>
      <input id="ubicacion" type="text" class="form-control" formControlName="ubicacion">
    </div>
    <div class="form-group">
      <label for="capacidad">Capacidad</label>
      <input id="capacidad" type="number" class="form-control" formControlName="capacidad">
    </div>

    <!-- Mostrar el campo de estado solo en edición -->
    <div *ngIf="laboratorio" class="form-group">
      <label for="estado">Estado</label>
      <select id="estado" class="form-select" formControlName="estado">
        <option value="ACTIVO">Activo</option>
        <option value="INACTIVO">Inactivo</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
  </form>
</div>
